<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>all users</title>
  </head>
  <body>
      <%= console.log(User) %>
      <h1>testje</h1>
  </body>
  <script type="text/javascript" src="./routes/users.js"></script>
</html>
