<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= user.first_name %></h1>
    <h2><%= user.last_name %></h2>
    <h3><%= user.gender %></h3>

  </body>
</html>
