<%- include('head.ejs') %>
<!-- script geschreven door dropbox om de sterkte van een wachtwoord te analyseren-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
  <body>
    <div class="container">
    <form class="addUser" action="/register" method="POST" enctype="multipart/form-data">
      <h1>Sign up</h1>
      Username: <br>
      <input type="text" name="username" value="">
      <br>Password <br>
      <input id='password' type="password" name="password" value=""> <br>
      <meter max="4" id="password-strength-meter"></meter>
      <p id="password-strength-text"></p>
      <br>First name: <br>
      <input type="text" name="first_name" value="">
      <br> Last name: <br>
      <input type="text" name="last_name" value="">
      <br> Gender: <br>
      <input type="radio" name="gender" value="male" checked> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other<br>
      <br> Profile picture: <br>
      <input type="file" name="image" accept="image/*">
      <button type="submit">Submit</button>
    </form>
    </div>
  <a href="/">Go back to home</a>
  </body>

  <script>
    var strength = {
  0: "Worst",
  1: "Bad",
  2: "Weak",
  3: "Good",
  4: "Strong"
}

//Elementen uit de dom halen
var password = document.getElementById('password');
var meter = document.getElementById('password-strength-meter');
var text = document.getElementById('password-strength-text');

//kijken of er bij de password input getypt wordt
password.addEventListener('input', function() {
  var val = password.value;
  var result = zxcvbn(val);

  // strength meter aanpassen elke keer als er iets verandert wordt
  meter.value = result.score;

  // Text aanpassen bij elke verandering
  if (val !== "") {
    text.innerHTML = "Strength: " + strength[result.score]; 
  } else {
    text.innerHTML = "";
  }
});
  </script>
<%- include('footer.ejs') %>
