<%- include('head.ejs') %>
  <body>
    <div class="container">
    <form class="addUser" action="/register" method="POST">
      <h1>Sign up</h1>
      Username: <br>
      <input type="text" name="username" value="">
      <br>Password <br>
      <input type="password" name="password" value="">
      <br>First name: <br>
      <input type="text" name="first_name" value="">
      <br> Last name: <br>
      <input type="text" name="last_name" value="">
      <br> Gender: <br>
      <input type="radio" name="gender" value="male" checked> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other<br>
      <button type="submit">Submit</button>
    </form>
    </div>

  </body>
<%- include('footer.ejs') %>
