<%- include('head.ejs') %>
  <body>
    <header>
      <h1>Dating by choices</h1>
      <h2>Find a date that REALLY shares your opinion</h2>
      <% if(session.userId){ %>
        <a href="/logout">Log out</a>
        <% } else {%>
      <a href="/login">Login</a>
      <% } %>
    </header>
    <section>
      <h3>Find your matches!</h3>
      <% if(session.userId){ %>
        <p>Make your choices <a href="/choices">here</a>.</p>
        <p>Check out your <a href="/matches">matches based on your choices.</a></p>
        <p><a href="/connections">My connections</a>.</p>
        <% } else {%>
      <p>If you don't have an account yet, you can <a href="/register">register</a> here, if you do have one: <a href="/login">login</a>.</p>
        <% } %>
    </section>
  </body>
<%- include('footer.ejs') %>
