<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <a href="/login">Sign up</a>
      <a href="/register">Register</a>
      <a href="/logout">Log out</a>
    </ul>
  </body>
</html>
