<%- include('head.ejs') %>
  <body>
    <header>
      <h1>Dating by choices</h1>
      <h2>Find your soulmate by making some controversial choices</h2>
      <a href="/login">Login</a>
      <a href="/logout">Log out</a>
    </header>
    <section>
      <p>If you don't have an account yet, you can <a href="/register">register</a> here</p>
      <p>Check out the dilemma's <a href="/choices">here</a></p>
    </section>
  </body>
<%- include('footer.ejs') %>
