    <!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <title>unauthorized</title>
      </head>
      <body>
        <h1>Unauthorized</h1>
        <p>Please <a href="/login">login</a> to continue</p>
      </body>
    </html>
