<%- include('head.ejs') %>
<body>
  <h1>Your matches</h1>
<% User.collection.find().forEach(function (user){ %>
  <% console.log(user.first_name) %>
    <p><%= user.first_name %></p>
<% }) %>
</body>
<p>test</p>
<p>test</p>

<%- include('footer.ejs') %>
