body {
  font-family: 'Roboto', sans-serif;
  background-color: #7FDBFF;
  overflow-x: hidden;
}

header {
  width:100%;
  margin-left: -1%;
  margin-top: 2%;
  padding: 1rem;
  background-color: #001f3f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > a {
  color: white;
}

.container {
  position: fixed;
 width: 40%;
 height: 40%;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.choice{
  display: flex;
}

.choice > div{
  width: 30%;
}

.userContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user {
  padding: 2%;
  width: 40%;
}

.user > img {
  width: 50%;
}
