body {
  font-family: 'Roboto', sans-serif;
}

header > a {
  color: white;
}

header {
  padding: 1rem;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choice{
  display: flex;
}

.choice > div{
  width: 30%;
}

.userContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user {
  padding: 2%;
  width: 40%;
}

.user > img {
  width: 50%;
}
