body {
  font-family: 'Roboto', sans-serif;
}

header > a {
  color: white;
}

header {
  padding: 1rem;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
